@if (Model.Error != null)
{
    <div id="myMsg" name="myMsg" class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong></strong> @(Model.Error)
    </div>
}


