@using Framework.Web.Messages

<div class="messageContainer" style="width:100%">
    @if (Html.IsErrorMsgSet())
    {
        <div id="myMsg" name="myMsg" class="alert alert-error">
            <a href="#" class="close" data-dismiss="alert">×</a>
            @if (Html.IsShowCaptionSet())
            { <strong>Error! </strong> } @((string)TempData[NotifyMessageContants.ErrorMsg])
        </div>
    }
    @if (Html.IsWarningMsgSet())
    {
        <div id="myMsg" name="myMsg" class="alert alert-error">
            <a href="#" class="close" data-dismiss="alert">×</a>
            @if (Html.IsShowCaptionSet())
            { <strong>Warning! </strong> }  @((string)TempData[NotifyMessageContants.WarningMsg])
        </div>
    }

    @if (Html.IsInfoMsgSet())
    {
        <div id="myMsg" name="myMsg" class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">×</a>
            @if (Html.IsShowCaptionSet())
            { <strong>Information! </strong> }  @((string)TempData[NotifyMessageContants.InfoMsg])
        </div>
    }

    @if (Html.IsSuccessMsgSet())
    {
        <div id="myMsg" name="myMsg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">×</a>
            @if (Html.IsShowCaptionSet())
            { <strong>Success! </strong> } @((string)TempData[NotifyMessageContants.SuccessMsg])
        </div>
    }
</div>