<?xml version="1.0"?>
<configuration>
<appSettings>
 
<add key="LogTraceEnable" value="true" />
<add key="LogDebugEnable" value="true" />
<add key="LogInfoEnable" value="true" />
<add key="LogSqlEnable" value="true" />
<add key="LogWarnEnable" value="true" />
<add key="LogLocation" value="|ConfigPath|\..\Logs\" />
<add key="ServerPort" value="8080" /> 
<add key="StartingPortNumber" value="9000" />
<add key="NumberOfWorkerThread" value="1" />
<add key="DatabaseType" value="SQLITE3" /> <!-- SQLITE3, MYSQL, MSSQL2008 -->
<add key="DatabaseName" value="|ConfigPath|\..\Data\Database\LoggerInfo.sqlite3" />
<add key="DatabaseServer" value="" /> <!-- Required for Types MYSQL, MSSQL2008 -->
<add key="DatabaseUserName" value="" /> <!-- Required for Types MYSQL, MSSQL2008 -->
<add key="DatabasePassword" value="" /> <!-- Required for Types MYSQL, MSSQL2008 -->
<add key="DatabaseCommandTimeout" value="100" />
 
</appSettings>
</configuration>
